
<div class="dragdroptabs row">
    <div class="container">
        <div class="header row">
            <div ng-repeat="(listName, list) in models.lists" class="col-md-12">

                <ul dnd-list="list" class="nav nav-tabs">
                    <li ng-repeat="item in list"
                        dnd-draggable="item"
                        dnd-moved="list.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'active':  models.selected === item}">
                        <a href="#">{{item.Name}}</a>

                    </li>
                </ul>
            </div>
        </div>

        <div class="contentpage">content will load here...</div>
    </div>

</div>