
.dragdroptabs ul[dnd-list] .dndDraggingSource {
    display: none;
}

.dragdroptabs ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
    width:20px;
}

.header {
    padding-top:20px;
}


.contentpage {
    padding-top:20px;
}